#container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;


}

.movie {
    border: 7px solid rgb(252, 2, 218);

}



.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding: 20px;
    color: rgb(250, 2, 167);

}


.desc {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;

}